terratowns_endpoint="https://terratowns.cloud/api"
user_uuid="76d16b4f-69d1-4ca4-89ba-b14612840fd6"
content_version=1

thebirch = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/arcanum"
  content_version = 2 
}

myhouse = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/payday"
  content_version = 1 
}